<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIVIBU</title>
   <link rel="stylesheet" href="./login.scss">
   <link rel="stylesheet" href="./login.css">
  
    
</head>

<body>
    <!-- Eğer navbarda login (giriş kısmı) yazarsak üstüne tıklandığında geçiş sayfası olarak kullanılabilecek bir sayfa da hazırladım bu projemizin dışına çıktığından sayfalar arası geçişi sağlamadım ama ileride projeyi geliştirmek istersem bu sayfayı login sayfası olarak kullanabilirim diye düşündüm.-->
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
    <div class="site-container">
      
        <div class="body">
            <div class="image-container">

                <nav>
                    <img style=" margin-top:30px;  margin-left:30px; width: 133px; height: 55px;" src="../../assets/tivibu.png" alt="logo">
        
                </nav>
                <!-- navbar biter -->
        
                <!-- body -->
                <div class="login-container">
                    <div class="text-container">
                        <div class="text1">
                            <h1>Oturum Aç</h1>

                            <div class="nameandemail">
                                <input type="text" placeholder="  E-posta veya telefon numarası">
                            </div>

                            <div class="sign-up">
                                <input type="text" placeholder="  Parola">
                            </div>
                        </div>

                        <div class="text2">
                            <div class="button-container">
                                <button>Oturum Aç</button>
                            </div>

                            <div class="remember">
                                <label>
                                    <input type="checkbox"> Beni hatırla
                                </label>

                                <div class="link">
                                    <a href="#">Yardım ister misiniz?</a>
                                </div>

                            </div>

                            <div class="login-signup">
                               TIVIBU ya katılmak ister misiniz?
                                <a href="#">Şimdi Kaydolun.</a>
                            </div>

                            <div class="last">
                                <span>Oturum açma işlemi, robot olmadığınızı kanıtlamak için Google reCAPTCHA ile
                                    korunuyor. </span>
                                <button>
                                    <[[<![CDATA[<b>Daha fazla bilgi.</b>]]>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                 

            </div>
                        
             <!-- footer -->
             <div class="site-footer">
                <div class="footer-text">
                    <p class="footer-top">
                        Sorularınız mı var?
                        <a href="#">0850-000-0000</a>
                        numaralı telefonu arayın
                    </p>
                </div>
                  

                <ul class="footer-links">
                    <li>
                        <a href="#">SSS</a>
                    </li>
                    <li>
                        <a href="#">Yardım Merkezi</a>
                    </li>
                    <li>
                        <a href="#"> Kullanım Koşulları</a>
                    </li>
                    <li>
                        <a href="#">Gizlilik</a>
                    </li>
                    <li>
                        <a href="#">Çerez Tercihleri</a>
                    </li>
                    <li>
                        <a href="#">Kurumsal Bilgiler</a>
                    </li>
                  
                </ul>
                    <div class="Ing">
                        <i class="fa-solid fa-globe" ></i>
                        <select>
                            <option>
                              Türkçe
                            </option>
                             <option>
                               English
                            </option>
                      </select>  
                    </div> 
                
              </div>
        </div>






    </div>


    <script src="https://kit.fontawesome.com/d936097167.js" crossorigin="anonymous"></script>
</body>

</html>